@media (max-width: 991.98px) {
  .filtros {
    flex-direction: column;
  }

  .filtros .btn {
    width: 100%;
  }
}

@media (hover: none) {
  .filtros .btn-outline-dark:hover {
    color: #212529;
    background-color: transparent;
    border-color: #212529;
  }
}
